.footer {
  background: #000;
  color: #fff;
  padding: 40px 20px 20px;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /*coloca quantas colunas da sendo cada uma com tam minimo de 200px e 1fração do espaço disponivel*/
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer h2 {
  font-size: 22px;
  color: #d53361;
  margin-bottom: 5px;
}

.footer h2 span {
  color: #fff;
  /*span vai servir justamente para colocar metade de um estilo, metade de outro*/
}

.footer p {
  font-size: 14px;
}

.footer h3 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #d53361;
}

.footer img{
    width: 25%;
}

.footer-links ul {
  list-style: none;
}

.footer-links ul li {
  margin-bottom: 8px;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.footer-links ul li a:hover {
  color: #d53361;
}

.icone-instagram a {
  font-size: 18px;
  color: #fff;
  margin-right: 10px;
  transition: 0.3s;
}

.icone-instagram a:hover {
  color: #d53361;
}

.footer-bottom {
  margin-top: 20px;
  padding-top: 15px;
  text-align: center;
  font-size: 12px;
}