/*definindo quando vai aparecer os mobiles*/
@media (max-width: 768px){
    #navbar {                               
    background-color: #feebeb; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2); 
}
    .nav-desktop{
        display: none !important;
    }

    .logo-mobile{
        display: block;
        /*aparece a logo do menu*/
    }
    .hamburguer{
        display: block;
    }

    .quadrados{
        flex-direction: column;
        gap: 15px;
    }
    
    .conteudo-header {
        display: none;
    }
    
    
    .rodape img{
    width: 15%;
    }
    
    .close{
        display: block;
    }
    .produtos h2 {
        font-size: 24px;
    }
        
    .galeria-produtos {
        /* Muda o grid para 2 colunas no mobile */
        grid-template-columns: repeat(2, 1fr); 
        gap: 15px;
        padding: 5px;
    }
        
    .produto-card img {
        /* Ajusta o max-width das imagens no mobile */
        max-width: 150px;
        box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
    }
        
    .produto-card h3 {
        font-size: 0.9rem;
    }

    .produto-card p {
        font-size: 0.75rem;
    }

    .slider {
        width: 95%;
        max-width: 500px;
        height: 250px;   
    }

    .slides{
        height: 250px;
    }

    .manual-navigation{
        width: 100%;
        margin-top: -30px;
    }

    .manual-btn:not(:last-child){
        margin-right: 10px;
    }

  .navigation-auto{
    width: 100%;
    margin-top: 220px;
  }

  .navigation-auto div:not(:last-child){
    margin-right: 10px;
  }
}