 /*botao do instagram*/
.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 10px;     
    padding: 8px 20px;
    color: white;
    background-color: #d53361; 
    border: none;
    border-radius: 20px;
    font-weight: 300;
    font-size: 0.75rem;
    /*rem acompanha a unidade de medida do navegador*/
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: background-color .2s ease;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    max-width: 150px;

}

/*muda a cor do botao quando passa o mouse em cima*/
.botao:hover{
    background-color: #ffa3c8;
}

.botao-compre1{
    display: flex;
    text-decoration: none;
    color: white;
    background-color: #d53361;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    border-radius: 20px;
    font-size: 0.75rem;
    padding: 6px 7px;   
}

/*mudança de cor do botao*/
.botao-compre1:hover{
    color: #5d0242;
    /*padding:3% aumentaria o botao ao passar o mouse*/
}

.botao-compre2{
    display: flex;
    text-decoration: none;
    color: white;
    background-color: #ffa3c8;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    border-radius: 20px;
    font-size: 0.75rem;
    padding: 6px 7px;
}

/*mudança de cor do botao*/
.botao-compre2:hover{
    color: #5d0242;
}


.logo-instagram{
    width: 20px;
}

