.slider{
    margin: 0;
    width: 800px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slides{
    width: 300%;
    height: 400px;
    display: flex;
    transition: margin-left 0.5s ease;
}

.slides input{
    display: none;
}

.slide{
    /*como sao tres imagens fica 33.33*/
    width: 33.33%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    background-color: transparent;
}

.manual-btn:not(:last-child){
    margin-right: 20px;
}

.manual-btn:hover{
    border: 2px solid #d53361;
    background-color: #d53361;
}

/*quando radio 1 tiver checked vai movimentar a imagem*/
#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -33.33%;
}

#radio3:checked ~ .first{
    margin-left: -66.66%;
}

.navigation-auto div{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #d53361;
    border-color: #d53361;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #d53361;
    border-color: #d53361;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #d53361;
    border-color: #d53361;
}