@import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap');

header{
    padding: 0;
    /*assim minha imagem consegue ocupar tudo*/
}
#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.8;
}

#nav-desktop{
    display: flex;
    justify-content: center;
    list-style: none;
    gap:48px;
    flex: 1;
}

.nav-item a, .nav-mobile{
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-family: "Poppins", sans-serif;

}

.nav-item a::after{
   content: "";
   position: absolute;
   left: 50%;
   width: 0%;
   bottom: 0;
   height: 3px;
   background-color: #0088ff;
   transition: width 0.3s ease, left 0.3s ease; 
}

.nav-item a:hover::after{
    width: 100%;
    left: 0;
}

.conteudo-header{
    text-align: center;
    color: white;
    padding-top: 30%;
    padding-bottom: 100px;
    max-width: 500px;
    margin: 0 auto;
    gap: 0.5rem;
    display: flex;  /*vai centralizar o botao direitinho*/
    flex-direction: column;  /*vai centralizar o botao direitinho*/
    align-items: center;  /*vai centralizar o botao direitinho*/

}

.conteudo-header p{
    font-size: 1.5rem;
    font-weight: 200;
    font-family: "Kodchasan", sans-serif;
}

.conteudo-header h1{
    font-size: 3rem;
    margin-top: 2%;
    font-family: "Kodchasan", sans-serif;
}