/*base de tudo*/
@import url('./base/global.css');

/*layout*/
@import url('./layout/header.css');
@import url("./layout/footer.css");
@import url('./layout/sections.css');

/*componentes*/
@import url('./components/buttons.css');
@import url('./components/modal.css');
@import url('./components/slider.css');

/*responsividade*/
@import url('./layout/responsividade.css');
