@import url('./base/global.css');

@import url('./layout/header.css');
@import url("./layout/footer.css");
@import url('./layout/sections.css');

 /*botao do instagram*/
.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 10px;     
    padding: 8px 20px;
    color: white;
    background-color: #d53361; 
    border: none;
    border-radius: 20px;
    font-weight: 300;
    font-size: 0.75rem;
    /*rem acompanha a unidade de medida do navegador*/
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: background-color .2s ease;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    max-width: 150px;

}

.logo-instagram{
    width: 20px;
}

/*muda a cor do botao quando passa o mouse em cima*/
.botao:hover{
    background-color: #ffa3c8;
}

.botao-compre1{
    display: flex;
    text-decoration: none;
    color: white;
    background-color: #d53361;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    border-radius: 20px;
    font-size: 0.75rem;
    padding: 6px 7px;   
}

/*mudança de cor do botao*/
.botao-compre1:hover{
    color: #5d0242;
    /*padding:3% aumentaria o botao ao passar o mouse*/
}

.botao-compre2{
    display: flex;
    text-decoration: none;
    color: white;
    background-color: #ffa3c8;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    border-radius: 20px;
    font-size: 0.75rem;
    padding: 6px 7px;
}

/*mudança de cor do botao*/
.botao-compre2:hover{
    color: #5d0242;
}

.flex{
    display: flex;
}

.slider{
    margin: 0;
    width: 800px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slides{
    width: 300%;
    height: 400px;
    display: flex;
    transition: margin-left 0.5s ease;
}

.slides input{
    display: none;
}

.slide{
    /*como sao tres imagens fica 33.33*/
    width: 33.33%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    background-color: transparent;
}

.manual-btn:not(:last-child){
    margin-right: 20px;
}

.manual-btn:hover{
    border: 2px solid #d53361;
    background-color: #d53361;
}

/*quando radio 1 tiver checked vai movimentar a imagem*/
#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -33.33%;
}

#radio3:checked ~ .first{
    margin-left: -66.66%;
}

.navigation-auto div{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #d53361;
    border-color: #d53361;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #d53361;
    border-color: #d53361;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #d53361;
    border-color: #d53361;
}

dialog{
    position: fixed;
    z-index: 2000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    width: 90%;
    max-width: 350px;
    max-height: 80vh; /* evita que o modal estoure a tela */
    padding: 10px;
    border-radius: 5px;
    background-color: #f5d9e4;
    overflow: auto; /* se o conteúdo for maior, aparece scroll interno */
}

dialog h3{
   font-family: 'Poppins', sans-serif;
}

dialog p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding: 7px;
    font-weight: 600;
}

.open-modal{
    background-color: transparent;
    border-radius: 8px;
    padding: 6px 6px;
    cursor: pointer;
    border: none;
}

dialog::backdrop{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
}

.modal-header{
    margin-bottom: 16px;
    position: relative;
    display: flex;
    align-items: center;
}

.modal-header img{
    width: 150px;
}

.modal-conteudo{
    padding: 15px;
}

.close-modal{
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #5d0242;
    font-size: 18px;
}

.carrinho{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;    
    padding: 8px 10px;
    color: white;
    background-color: #d53361; 
    border: none;
    border-radius: 25px;
    font-weight: 300;
    font-size: 0.625rem;
    /*rem acompanha a unidade de medida do navegador*/
    cursor: pointer;
    transition: background-color .2s ease;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    max-width: 150px;
}

.carrinho img{
    background-color: transparent;
    width: 20%;
}

/*definindo quando vai aparecer os mobiles*/
@media (max-width: 768px){
    #navbar {                               
    background-color: #feebeb; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2); 
}
    .nav-desktop{
        display: none !important;
    }

    .logo-mobile{
        display: block;
        /*aparece a logo do menu*/
    }
    .hamburguer{
        display: block;
    }

    .quadrados{
        flex-direction: column;
        gap: 15px;
    }
    
    .conteudo-header {
        display: none;
    }
    
    
    .rodape img{
    width: 15%;
    }
    
    .close{
        display: block;
    }
    .produtos h2 {
        font-size: 24px;
    }
        
    .galeria-produtos {
        /* Muda o grid para 2 colunas no mobile */
        grid-template-columns: repeat(2, 1fr); 
        gap: 15px;
        padding: 5px;
    }
        
    .produto-card img {
        /* Ajusta o max-width das imagens no mobile */
        max-width: 150px;
        box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
    }
        
    .produto-card h3 {
        font-size: 0.9rem;
    }

    .produto-card p {
        font-size: 0.75rem;
    }

    .slider {
        width: 95%;
        max-width: 500px;
        height: 250px;   
    }

    .slides{
        height: 250px;
    }

    .manual-navigation{
        width: 100%;
        margin-top: -30px;
    }

    .manual-btn:not(:last-child){
        margin-right: 10px;
    }

  .navigation-auto{
    width: 100%;
    margin-top: 220px;
  }

  .navigation-auto div:not(:last-child){
    margin-right: 10px;
  }
}