@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,200;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #feebeb;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    /*se usar o justify content center aqui, minha imagem vai ficar toda cortada.*/
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}